@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BusinessObjects.Models.DTO.ChangePasswordDTO
@{
    ViewData["Title"] = "ChangePassword";
}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Change Password</h3>

                        <form asp-controller="ChangePassword" asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">

                                <div class="col-md-12 mb-12">
                                    @if (@ViewBag.ErrorOld != null)
                                    {
                                        <h4 style="color:orangered">@ViewBag.ErrorOld</h4>
                                    }
                                    <div class="form-outline">
                                        <input type="password" asp-for="oldPass" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="oldPass">Old Password</label>
                                        <span asp-validation-for="oldPass" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-12 mb-12">
                                    @if (@ViewBag.ErrorNew != null)
                                    {
                                        <h4 style="color:orangered">@ViewBag.ErrorNew</h4>
                                    }
                                    <div class="form-outline">
                                        <input type="password" asp-for="newPass" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="newPass">New Password</label>
                                        <span asp-validation-for="newPass" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-12 mb-12">
                                    @if (@ViewBag.ErrorNew != null)
                                    {
                                        <h4 style="color:orangered">@ViewBag.ErrorNew</h4>
                                    }
                                    <div class="form-outline">
                                        <input type="password" asp-for="reNewPass" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="reNewPass">Re-Enter New Password</label>
                                        <span asp-validation-for="reNewPass" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Change password" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
